$black: #000000;
$white: #FFFFFF;
$shark: #242729;
$geyser: #cfd7de;
$downriver: #0F3559;
$downlake: #0b2843;
$alto: #dfdfdf;
$wild-sand: #F5F5F5;
$dusty-gray: #959595;
$lochmara: #0077cc;
$mariner: #367AD3;
$gray-cod: #111111;
$razzmatazz: #E00751;
$carousel-pink: #FCEEF3;
$gray: #999999;
$pale-sky: #6a737c;

.colors {
  &__font {
    &_white {
      color: $white;
    }
    &_black {
      color: $black;
    }
    &_gray {
      color: $gray;
    }
    &_pale-sky {
      color: $pale-sky;
    }
  }
  &__background {
    &_white {
      background-color: $white;
    }
    &_black {
      background-color: $black;
    }
    &_shark {
      background-color: $shark;
    }
  }
}
