$black: #000000;
$white: #FFFFFF;
$shark: #242729;
$geyser: #cfd7de;
$downriver: #0F3559;
$downlake: #0b2843;
$alto: #dfdfdf;
$wild-sand: #F5F5F5;
$dusty-gray: #959595;
$danube: #569CD2;
$lochmara: #0077cc;
$mariner: #367AD3;
$gray-cod: #111111;
$razzmatazz: #E00751;
$carousel-pink: #FCEEF3;
$gray: #999999;
$pale-sky: #6a737c;
$apple-green: #dcf0e2;
$mako: #3c4146;
$gray-athens: #fafafb;
$iron: #e4e6e8;
$rolling-stone: #6f7577;
$gray-oslo: #848d95;
$abbey: #535a60;
$fern: #5eba7d;
$green-chateau: #48a868;
$persian-red: #d1383d;
$bali-hai: #7e93a6;
$astral: #39739d;
$black-squeeze: #E1ECF4;
$trout: #505c66;
$alabaster: #f7f7f7;
$tundora: #444444;
$silver-sand: #bbc0c4;
$endeavour: #0058A3;

.colors {
  &__font {
    &_white {
      color: $white;
    }
    &_black {
      color: $black;
    }
    &_shark {
      color: $shark;
    }
    &_gray {
      color: $gray;
    }
    &_pale-sky {
      color: $pale-sky;
    }
    &_mako {
      color: $mako;
    }
    &_persian-red {
      color: $persian-red;
    }
    &_gray-oslo {
      color: $gray-oslo;
    }
    &_trout {
      color: $trout;
    }
    &_downriver {
      color: $downriver;
    }
    &_silver-sand {
      color: $silver-sand;
    }
  }
  &__background {
    &_white {
      background-color: $white;
    }
    &_black {
      background-color: $black;
    }
    &_shark {
      background-color: $shark;
    }
    &_apple-green {
      background-color: $apple-green;
    }
  }
}
