$helvetica-neue-bold: Helvetica-Neue-Bold;
$helvetica-neue: Helvetica-Neue;
$helvetica-neue-regular: Helvetica-Neue-Regular;
$helvetica-regular: Helvetica-Regular;
$helvetica-bold: Helvetica-Bold;
$helvetica: Helvetica;
$georgia-regular: Georgia-Regular;
$georgia-bold: Georgia-Bold;
$lato: Lato;
$lato-regular: Lato-Regular;
$lato-bold: Lato-Bold;

.fonts {
  &__helvetica-neue {
    font-family: $helvetica-neue;

    &_bold {
      font-family: $helvetica-neue-bold;
    }

    &_regular {
      font-family: $helvetica-neue-regular;
    }
  }

  &__helvetica {
    font-family: $helvetica;

    &_regular {
      font-family: $helvetica-regular;
    }

    &_bold {
      font-family: $helvetica-bold;
    }
  }

  &__georgia {
    &_regular {
      font-family: $georgia-regular;
    }

    &_bold {
      font-family: $georgia-bold;
    }
  }

  &__lato {
    font-family: $lato;

    &_bold {
      font-family: $lato-bold;
    }

    &_regular {
      font-family: $lato-regular;
    }
  }

  &__h4 {
    font-size: nonScalePx(30);
    font-family: $helvetica-bold;
    line-height: nonScalePx(30 * 1.25);
  }

  &__h5 {
    font-size: nonScalePx(24);
    font-family: $helvetica-neue-bold;
    line-height: nonScalePx(24 * 1.25);
  }

  &__text2 {
    font-size: nonScalePx(18);
    font-family: $helvetica-regular;
  }

  &__text3 {
    font-size: nonScalePx(16);
    font-family: $helvetica-neue;
  }

  &__text4 {
    font-size: nonScalePx(14);
    font-family: $helvetica-regular;
  }

  &__text-label {
    font-family: $helvetica-neue;
    font-size: nonScalePx(16);
    line-height: nonScalePx(16 * 1.2);
  }

  @media (max-width: $desktop-break-point) {
    &__h4 {
      font-size: pxToVwDesktop(30);
      line-height: pxToVwDesktop(30 * 1.25);
    }

    &__h5 {
      font-size: pxToVwDesktop(24);
      line-height: pxToVwDesktop(24 * 1.25);
    }

    &__text2 {
      font-size: pxToVwDesktop(18);
    }

    &__text3 {
      font-size: pxToVwDesktop(16);
    }

    &__text4 {
      font-size: pxToVwDesktop(14);
    }

    &__text-label {
      font-size: pxToVwDesktop(16);
      line-height: pxToVwDesktop(16 * 1.2);
    }
  }
}
