$default-size: 1920;
$default-size-tablet: 768;
$default-size-mobile: 414;

$mobile-break-point: 414px;
$tablet-break-point: 768px;
$desktop-break-point: 1920px;

@function nonScalePx ($size) {
  @if $size == 0 {
    @return 0px
  } @else {
    @return ($desktop-break-point / ($default-size / $size));
  }
}

@function pxToVwDesktop($size) {
  @if $size == 0 {
    @return 0px
  } @else {
    @return ($size * 100vw / $default-size);
  }
}

@function pxToVwTablet($size) {
  @if $size == 0 {
    @return 0px
  } @else {
    @return ($size * 100vw / $default-size-tablet);
  }
}

@function pxToVwMobile($size, $is-mobile: false) {
  @if $size == 0 {
    @return 0px
  } @else {
    @return ($size * 100vw / $default-size-mobile);
  }
}

.container {
  width: nonScalePx(1300);
  margin: 0 auto;

  @media (max-width: $desktop-break-point) {
    width: 100%;
    padding-left: pxToVwDesktop(315);
    padding-right: pxToVwDesktop(315);
  }

  @media (max-width: $tablet-break-point) {
    width: 100%;
    padding-left: pxToVwTablet(200);
    padding-right: pxToVwTablet(200);
  }

  @media (max-width: $mobile-break-point) {
    width: 100%;
    padding-left: pxToVwMobile(20);
    padding-right: pxToVwMobile(20);
  }
}

.container-fluid {
  @extend .container;

  width: 100%;
  height: 100%;
}
