$spacer: 16;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3
);

@each $size, $value in $spacers {
  //  Padding spacing
  //  Vertical padding
  .pt-#{$size} {
    padding-top: nonScalePx($value);

    @media (max-width: $desktop-break-point) {
      padding-top: pxToVwDesktop($value);
    }
  }

  .pb-#{$size} {
    padding-bottom: nonScalePx($value);

    @media (max-width: $desktop-break-point) {
      padding-bottom: pxToVwDesktop($value);
    }
  }

  .py-#{$size} {
    @extend .pt-#{$size};
    @extend .pb-#{$size};
  }

  //  Horizontal padding
  .pl-#{$size} {
    padding-left: nonScalePx($value);

    @media (max-width: $desktop-break-point) {
      padding-left: pxToVwDesktop($value);
    }
  }

  .pr-#{$size} {
    padding-right: nonScalePx($value);

    @media (max-width: $desktop-break-point) {
      padding-right: pxToVwDesktop($value);
    }
  }

  // Mixed padding
  .px-#{$size} {
    @extend .pl-#{$size};
    @extend .pr-#{$size};
  }

  .py-#{$size} {
    @extend .pt-#{$size};
    @extend .pb-#{$size};
  }

  .p-#{$size} {
    @extend .px-#{$size};
    @extend .py-#{$size};
  }

  //  Margin spacing
  .mt-#{$size} {
    margin-top: nonScalePx($value);

    @media (max-width: $desktop-break-point) {
      margin-top: pxToVwDesktop($value);
    }
  }
}
