/*  Helvetica Neue */
@font-face{
  font-family: "Helvetica-Neue-Bold";
  src: url("fonts/HelveticaNeue/HelveticaNeueBold.ttf");
}
@font-face{
  font-family: "Helvetica-Neue";
  src: url("fonts/HelveticaNeue/HelveticaNeueMedium.ttf");
}
@font-face{
  font-family: "Helvetica-Neue-Regular";
  src: url("fonts/HelveticaNeue/HelveticaNeueLight.ttf");
}

/* Helvetica */
@font-face{
  font-family: "Helvetica-Regular";
  src: url("fonts/Helvetica/HelveticaRegular.ttf");
}
@font-face{
  font-family: "Helvetica-Bold";
  src: url("fonts/Helvetica/HelveticaBold.ttf");
}

/*  Georgia */
@font-face{
  font-family: "Georgia-Regular";
  src: url("fonts/Georgia/GeorgiaRegular.ttf");
}
@font-face{
  font-family: "Georgia-Bold";
  src: url("fonts/Georgia/GeorgiaBold.ttf");
}