@import 'fonts/fonts.scss';
@import 'base/colors.scss';
@import 'base/grid.scss';
@import 'base/fonts.scss';
@import 'base/spacing.scss';
@import 'base/content.scss';
@import 'base/text.scss';
@import 'base/animation.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: $danube;
  transition: color .3s;

  &:hover {
    color: $mariner;
  }
}

button, input {
  border: 0;
  outline: none;
}
